In [ ]:
''' Below code to print:
      *
    * *
  * * *
* * * * '''

This pattern is combination of:

*   one decreasing triangle with space
*   one increasing triangle with star

In [2]:
n=4
for i in range(n):
  for j in range(i,n):
    print(" ",end=' ')
  for j in range(i+1):
    print("*",end=' ')
  print()

        *
      * *
    * * *
  * * * *

In [ ]:
''' Below code to print:
* * * *
  * * *
    * *
      * '''

This pattern is combination of:

*   one increasing triangle with space
*   one decreasing triangle with star

In [3]:
n=4
for i in range(n):
  for j in range(i+1):
    print(" ",end=' ')
  for j in range(i,n):
    print("*",end=' ')
  print()

  * * * *
    * * *
      * *
        *

**Hill Pattern**

This pattern is combination of:

*   one decreasing triangle with space
*   one increasing triangle with star
*   one increasing triangle with star

In [8]:
n=4
for i in range(n):
  for j in range(i,n):
    print(" ",end=' ')
  for j in range(i):    #Here only i because we want to print top most single star
    print("*",end=' ')
  for j in range(i+1):
    print("*",end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *

**Reverse Hill Pattern**

This pattern is combination of:


*   one increasing triangle with space
*   one decreasing triangle with star
*   one decreasing triangle with star

In [10]:
n=4
for i in range(n):
  for j in range(i+1):
    print(" ",end=' ')
  for j in range(i,n-1):    #Here n-1 because we want to print single star at bottom row
    print("*",end=' ')
  for j in range(i,n):
    print("*",end=' ')
  print()

  * * * * * * *
    * * * * *
      * * *
        *

**Diamond Pattern**

This pattern is combination of:

*   Hill pattern
*   Reverse Hill pattern

In [12]:
n=4
#For Hill
for i in range(n-1):     #Here i upto n-1 to print single middle line star inplace of two
  for j in range(i,n):
    print(" ",end=' ')
  for j in range(i):
    print("*",end=' ')
  for j in range(i+1):
    print("*",end=' ')
  print()

#For Reverse Hill
for i in range(n):
  for j in range(i+1):
    print(" ",end=' ')
  for j in range(i,n-1):
    print("*",end=' ')
  for j in range(i,n):
    print("*",end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
    * * * * *
      * * *
        *